.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Box model */
  min-height: 100dvh;

  /* Visual */
  background: #fffdf9;
}

.header {
  /* Layout */
  flex: none;
}

.content {
  /* Layout */
  flex: 1 1 auto;

  /* Box model */
  margin-top: 20px;
  min-height: 0;

  @media (min-width: 768px) {
    margin-top: 30px;
  }
}

.game {
  /* Box model */
  width: min(100%, 40rem);
  margin-inline: auto;
}
