.root {
  /* Box model */
  margin: 0;

  /* Visual */
  color: #332d23;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.25;
  overflow-wrap: anywhere;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}
